.livesWrap,.livesTitle2,.livesDetail2{
font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#eaf8ff}
.supage-title{height:22px;padding-top:3px;font-size:15px;font-weight:bold}
.hrline{height:1px;border-width:0;color:#a20606;background-color:#a20606}
.livesWrap{background-color:#0A1854;margin-left:12px;width:145px;padding:0 4px 4px;margin-top:-6px}
.livesBorder{border:2px solid #4554A0;font-size:11px;padding:3px;margin-top:2px}.livesBorder03{width:94%;padding:0px!important;border:none!important}
.livesTitle{padding-left:40px;font-weight:bold;padding-bottom:4px}.livesDetail{padding-left:40px}
.livesWrap a,.livesWrap a:hover{color:#FFF;text-decoration:none}
.contacticon{width:20px;height:20px;margin-top:3px;margin-left:5px;position:absolute}.call{background:url(../images/phone_icon.png);background-size:100%}.bbm{background:url(../images/bbm.png);background-size:100%}
.skype{background:url(../images/skype.png);background-size:100%}
.sms{background:url(../images/sms.png);background-size:100%}
.line{background:url(../images/line.png);background-size:100%}
.wechat{background:url(../images/wechat.png);background-size:100%}
.ymessenger{background:url('../images/ymessenger.png');background-size:100%}.letterkern{letter-spacing:1px}.imagewidth img{display:block}
.livechat_top{width:220px}img.livechatgif{width:159px}